@import "../_variaveis.scss";

header {
    background-color: $header-bg-color;
    border-bottom: $header-border-bottom;
    text-align: center;
    // padding: 20px;
    img{
        max-width: 8%;
        margin-top: 1%;
        @media screen and (min-width: 320px) and (max-width: 1024px){
            max-width: 15%;
        }
    }

    nav{
        display: flex;
        justify-content: center;

        ul{
            display: flex;
            justify-content: center;
            list-style: none;

            li{
                a{
                    color: $font-color;
                    display: inline-block;
                    text-decoration: none;
                    padding: 0px 20px 5px 20px;
                    font-size: $font-size-header;
                    font-family: $font;
                    @media screen and (min-width: 320px) and (max-width: 1024px){
                        font-size: large;
                    }
                }
                .laranjinha{
                    color: $footer-p-a-color;
                }
            }
        }
        
    }

}