@import "../variaveis.scss";

header {
    background-color: $header-bg-color;
    width: $header-wid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: $header-border-bottom;

    h2{
        font-size: $font-size-header;
        font-family: $font;
    }

    a{
        color: $font-color;
        text-decoration: none;
    }

    .laranjinha{
        a{
            color: #E3B663;
        }
    }

    .logo{
        max-width: $logo-wid;
        margin: $logo-margin;
    }
}