@import "../variaveis.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

header {
    background-color: $header-bg-color;
    border-bottom: $header-border-bottom;
    text-align: center;
    img{
        align-items: left;
        justify-content: left;
        max-width: 8%;
    }

    nav{
        display: flex;
        justify-content: center;

        ul{
            display: flex;
            justify-content: center;
            list-style: none;

            li{
                a{
                    color: $font-color;
                    display: inline-block;
                    text-decoration: none;
                    padding: 0px 20px 5px 20px;
                    font-size: $font-size-header;
                    font-family: $font;
                }
                .laranjinha{
                    color: $footer-p-a-color;
                }
            }
        }

    }

}

@media screen {
    
}