@import "../_variaveis.scss";

footer{
    background-color: $footer-bg-color;
    // width: $footer-wid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: $footer-border-top;

    nav{
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            list-style: none;
            li{
                a{
                    color: $font-color;
                    text-decoration: none;
                    display: inline-block;
                    padding: 0px 20px 0px 20px;
                    font-size: $font-size-footer;
                    font-family: $font;
                    @media screen and (max-width: 425px){
                        font-size: small;
                        padding: 0px 5px 0px 5px;
                    }
                }
            }
        }
    }


    p{
        a{
            color: $footer-p-a-color;
            text-decoration: none;
            @media screen and (max-width: 425px){
                font-size: small;
            }
        }
        font-size: $footer-p;
        font-family: $font;
        text-align: right;
    }

    .logo2{
        max-width: $logo2-wid;
        // margin: $logo2-margin;
        @media screen and (max-width: 1024px){
            max-width: 10%;
        }
    }
}