@import "../variaveis.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $footer-bg-color;
    width: $footer-wid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: $footer-border-top;

    h2{
        font-size: $font-size-footer;
        font-family: $font;
    }

    a{
        color: $font-color;
        text-decoration: none;
    }

    p{
        a{
            color: $footer-p-a-color;
        }
        font-size: $footer-p;
        text-align: right;
    }

    .logo2{
        max-width: $logo2-wid;
        margin: $logo2-margin;
    }
}