.container-contratar{
    display: grid;
    // grid-template-columns: 10rem 10rem 10rem;
    // text-align: center;
    grid-gap: 10rem;
    // grid-auto-flow: row;
    width: 100%;
    // overflow-x: hidden;
}